<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools" package="fr.thomas.lefebvre.ordomanager">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher_ordo"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_ordo_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme.NoActionBar" tools:ignore="GoogleAppIndexingWarning"
            >
        <meta-data
                android:name="com.google.android.gms.ads.APPLICATION_ID"
                android:value="ca-app-pub-5765642947536779~9453959287"/>
        <activity android:name=".activity.UpdateActivity">
        </activity>
        <activity android:name=".activity.NewOrdoActivity">
        </activity>
        <activity
                android:name=".activity.ListOrdoActivity"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>